%header
  %h3 Hi!
  %hgroup
    %h1 I’m Ben Schwarz
    %figure
      %img{:src => "/images/me.jpg"}
      %figcaption A smug looking Ben Schwarz, prat.
    %h2 I love minimal, functional design and development techniques, typography and all things web
%section#bio
  %p Ben Schwarz is a well known Melbourne based developer who funds his love of good food (at home) and sake (in bars) by designing sophisticated web applications using standards based technology. <br>More than anything else, he is driven by a maniacal desire to produce not only elegant code, but also beautiful software in the hands of its&nbsp;users.

%section#articles
  %header
    %h1 
      %span An archive of articles
  
  %dl
    - @articles.group_by{|a| a.published.year }.each do |year, articles|
      %dt= year
      %dd
        - articles.group_by{|a| a.published.month}.each do |month, articles|
          %dl
            %dt= articles.first.published.strftime('%B')
            - for article in articles
              %dd
                %article
                  %a{:href => article_path(article)}
                    %h1= article.title
                    %h2= article.excerpt
                    
%section#meta
  %header
    %h1
      %span Meta
  %section#contact
    %h1 Old school
    %p
      When not travelling for work, <a href="http://lanyrd.com/people/benschwarz/" rel="external me">conferences</a> or sheer enjoyment, I can be found somewhere in Melbourne. Drop me a line #{mail_to 'ben.schwarz@gmail.com', "via Email", encode: 'hex'}. <a href="http://twitter.com/benschwarz" rel="external me">I tweet</a>, <a href="http://flickr.com/photos/benschwarz" rel="external me">take photos</a>, write and <a href="http://github.com/benschwarz" rel="external me">release open source software</a>, <a href="http://slideshare.com/benschwarz" rel="external me">give talks</a> and <a href="http://thehoard.org/benschwarz" rel="external me">hoard my treasures</a>.

  %section#external
    %h1 AB+C
    %p
      Apart from my personal work I also operate <a href="http://ab-c.com.au" rel="external">AB+C</a>, alongside <a href="http://aestheticallyloyal.com" rel="external">Anthony Kolber</a>. Together we build beautiful, professional looking web applications. Got something you want to get off the ground? Talk to us.

%section#events
  %header
    %h1
      .wrapper
        %span Events
  %section#upcoming
    %h1 Upcoming Events
    %article
      %a{href: "#"}
        %h1 HTML5 Workshop
        %p Web directions south, 2010
        %p.location Sydney, Australia
  %section#past
    %h1 Past presentations
    %section#presentations
      - for presentation in @presentations
        %article
          %a{href: presentation[:link], rel: "external"}
            %h1=raw presentation[:title]