!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= @article.title
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
    %script{src: "/javascripts/modernizr.js"}
    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}
    %link{:rel => "openid.delegate", :href => "http://benschwarz.myopenid.com/"}
    %link{:rel => "alternate", :title => "German for black RSS", :href => "/articles.atom", :type => "application/atom+xml"}
    %meta{:name => "author", :content => "Ben Schwarz"}
    %meta{:name => "robots", :content => "index, follow"}
    %meta{:name => "verify-v1", :content => "BlTJbJUo6znmPTKrfDI07Fho8QvSw7Q/4NxpM0s4HwU="}
  %body{id: "article"}
    %article
      %a#home{href: root_path} Home
      %header
        %h1= @article.title
      .wrapper
        %time{pubDate: true, datetime: @article.published.xmlschema}
          Posted
          = @article.published.strftime('%B')
          = @article.published.strftime('%d').to_i.ordinalize 
          = @article.published.strftime('%Y')
        %section{role: "main"}
          %h2= @article.excerpt
          = yield
    %footer
      %small © Ben Schwarz 2009—  
    %script{src: "/javascripts/application.js"}
    %script{ :src => "http://www.google-analytics.com/urchin.js", :type => "text/javascript" }
    %script{ :type => "text/javascript" }
      _uacct = "UA-139707-2";
      urchinTracker();
    %script{:src => "/javascripts/jquery-1.4.2.min.js"}  
    %script{:src => "/javascripts/track-external.js"}
    