!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= @article.title
    %link{rel: "stylesheet", href: "/stylesheets/application.css"}
    %script{src: "/javascripts/modernizr.js"}
    = csrf_meta_tag
  %body{id: "article"}
    %article
      %header
        %h1= @article.title
      .wrapper
        %time{pubDate: true, datetime: @article.published.xmlschema}
          Posted
          = @article.published.strftime('%B')
          = @article.published.strftime('%d').to_i.ordinalize 
          = @article.published.strftime('%Y')
        .body
          %h2= @article.excerpt
          = yield
    %footer
      %small © Ben Schwarz 2009—  
    %script{src: "/javascripts/application.js"}